[2016-10-19 13:41] nkuehn opened #1 "Write a minimal README"
Example  https://github.com/sphereio/commercetools-php-sdk/blob/develop/README.md  - but the initial version does not need to be as verbose.

Minimal content
- Introductory sentence on what this is and what it's good for
- .NET compatibility / system requirements
- how to practically bring it into your software project
- minimalistic hello world code example
- how to set up your IDE to help out de

[2016-10-19 13:43] nkuehn opened #2 "Add License File"
As agreed contractually.  Just call it "LICENSE" in the root directory -> like in the other SDKs.

[2016-10-19 13:49] nkuehn opened #3 "Decide on Git Branching and Release Model"
Concerning branching two options:
- Gitflow (like PHP SDK):  "develop" is the trunk-like branch where feature branches are merged into.  "master" represents the last stable release.  versions are tags on the master branch.
- Plain Git: (like JVM SDK)  "master" ist the trunk-like branch

Concerning release Model:
- I suggest semantic versioning like we do with PHP and JVM SDKs (http://semver.org/ )

[2016-10-19 13:52] schleichardt commented on #3
Yes, don't use the milestone names, this is not semantic versioning and not expressing if new versions were bug fixes or feature versions. Also thousands of milestone sound worse than sth like 0.13.2.

[2016-10-19 13:54] nkuehn opened #4 "Set up automatic testing on Travis (+Travis account)"
Since the repository is public we can use the free travis like with the other SDKs

https://docs.travis-ci.com/user/getting-started/
https://docs.travis-ci.com/user/languages/csharp/

It should be configured to automatically build pull requests.

A status badge on the README is appreciated.

[2016-10-19 14:12] nkuehn opened #5 "Decide where to do general documentation, tutorials etc."
Since @jhumber  and his Falcon colleagues don't get access to editing our https://dev.commercetools.com site where the tutorials and general pages on the JVM SDK live we could consider writing the HOWTOs and other version-agnostic content somewhere else.

Options:
- markdown files in the repository (in the root dir or a "doc" folder).
- github wiki feature ( https://github.com/commercetools/commer

[2016-10-19 14:31] nkuehn opened #6 "Try and document best way to run and try this on a Mac"
Goal is not ideal full developer support (for that  it's clear that some VM with real Visual Studio is best).

Goal: Enable a broader set of people to usefully try the SDK, write some example user side code,  do code review etc.

Options I stumbled upon:
- VS Code (from MS) https://code.visualstudio.com/
- http://www.monodevelop.com/
- ... please propose more

Since MS is strategically investing i

[2016-10-19 14:31] nkuehn commented on #6
@jhumber  @schleichardt  @lauraluiz  maybe you or someone else from the team has some experiences.

[2016-10-19 14:36] nkuehn opened #7 "configure for and publish on nuGet"
The SDKs have all been published as usable artifacts way before the final release to push adoption and feedback.

nuGet seems to be the de facto standard package repository and is even natively integrated into Visuals Studio.

Instructions here https://docs.nuget.org/ndocs/quickstart/create-and-publish-a-package

In addition to the `.nuspec` file we'll need a nuGet account  ( https://www.nuget.org

[2016-10-28 19:40] jhumber commented on #5
I think the GitHub Wiki feature is suitable for the documentation.

[2016-10-31 20:02] stmeissner commented on #5
I also vote for the GitHub Wiki for two reasons

- it's
 close to the source code
- can
 be maintained by the developers without me being in the loop

[2016-10-31 20:05] stmeissner commented on #7
@nkuehn Such accounts are usually hold and managed by our ops team with access granted to lead developers.

[2016-11-03 19:32] jhumber commented on #3
Branching: I'd prefer plain Git if that suits everyone else.

Versioning: Semantic versioning sounds good, and I agree with @lauraluiz regarding the numbering.

Are we considering what is up now a pre-1.0 release?  We currently have the .NET assembly at v1.0.1.0 as we've committed the first version and a patch already.  I can update the .NET assembly info if everyone feels we should be pre-1.0 rig

[2016-11-14 16:51] jhumber commented on #2
The LICENSE file has been added.

[2016-11-14 16:51] #2 closed

[2016-11-16 22:20] nkuehn commented on #3
@jhumber  here's your questions as a copy:

Thanks for pointing out that the dotnet implementation has a defined versioning logic (which is actually a good thing).

To not over-engineer it we did only publish pre-release versions before the first stable API 1.0.0  in our JVM and PHP SDKs and since then "just did it".

I found a proposal from microsoft on the semantics that matches my impression of

[2016-11-17 20:24] nkuehn commented on #4
@commercetools/ops could someone with admin rights on this repo be so nice to activate it on travis-ci.org?  Thank you!

https://travis-ci.org/profile/commercetools

[2016-11-23 08:31] nkuehn commented on #7
@commercetools/ops  could someone please register an official commercetools nuGet account so we can publish the dotnet SDK there?
https://www.nuget.org/users/account/LogOn

Thank you!

[2016-11-23 08:49] nkuehn commented on #6
Done by Microsoft, they are providing a full Visusal Studio now for mac.  I'll commit it to the README asap.

[2016-11-23 08:49] #6 closed

[2016-11-23 08:56] nkuehn commented on #1
@jhumber you've done this already.  I'll close the issue for you now, please don't hesitate on such things - you're the lead here.

[2016-11-23 08:56] #1 closed

[2016-11-23 08:57] nkuehn commented on #5
OK, decision made. I'll set up an initial page and a link from the readme.

[2016-11-23 08:57] #5 closed

[2016-11-23 14:15] svenmueller commented on #4
@nkuehn done. the project is now connected with travis-ci.org

[2016-11-23 14:30] svenmueller commented on #7
The account is created. Who needs access? Would be OK to just define two ENV vars in travis with username/password so that travis is able to access the nuget service?

- `NUGET_USERNAME`
- `NUGET_PASSWORD`

[2016-11-23 14:32] svenmueller commented on #7
<img width="1042" alt="bildschirmfoto 2016-11-23 um 15 32 02" src="https://cloud.githubusercontent.com/assets/131689/20565483/05239566-b192-11e6-9d9f-0fa2bef6e622.png">

[2016-11-23 15:55] svenmueller commented on #7
i also added an ENV `NUGET_API_KEY` containing the actual api key

[2016-11-23 16:25] nkuehn commented on #4
@svenmueller  Thank you!

@jhumber  you can take over now to create an initial working .travis.yml file.  It's normal that you need to commit and push changes to it to get it running via a bit of trial and error since you don't have the travis environment locally.

[2016-11-23 16:50] nkuehn commented on #7
@svenmueller  cool, thank you very much!

@jhumber  we'll have to talk about how to get this up and running. You'll first have to set up the .nuspec file and we'll then have to solve the puzzle of how to publish or not publish pre-releases on nuGet.

https://docs.nuget.org/ndocs/create-packages/prerelease-packages

[2016-11-23 16:51] nkuehn commented on #4
PS: I was too curious and tried it out in e2c28a2b46d6ded1f3550ac6ddba8ba6db9cb8ba

[2016-11-23 17:52] nkuehn commented on #4
@jhumber  I did all I could do with my exisiting travis knowledge, need to go home, too.  The open topics are all .NET -specific so I cannot help a lot.

But maybe this can help you:  an "official" travis CI config example from microsoft:  https://github.com/dotnet/docs/blob/master/.travis.yml   (I don't know why they're running the software on CI instead of testing it, but that does not really ma

[2016-11-23 18:19] jhumber commented on #4
@nkuehn The failed job is expected as the project only targets the .NET 4.5.1 framework right now. This is reflected in the README under the Supported Platforms heading.

I will get the project building locally against .NET Core and add the needed files to the repo.  I expect to have this done by the end of the week.

[2016-11-23 21:48] nkuehn commented on #4
thanks, the versioning is really confusing.  I just learnt that all mono 4.* versions implement the dotnet 4.5 profile (also mono 4.2, 4.6 etc.), so the versions are totally unrelated.  And I learnt that dotnet core 1.0* is rather a dotnet 5.* in terms of API compatibility.
What a mess, and I thought the Javascript language versions are confusing.

But nevertheless: If you look into the log the fa

[2016-11-23 22:04] nkuehn opened #8 "clarify profile / standard / version / PCL compatibility"
For an external, the dotnet world of compatibility is hard to understand.   E.g. https://docs.microsoft.com/en-us/dotnet/articles/standard/library  is precise and they try hard, but it's still not an easy answer to "will this work on device / OS xyz?" questions and getting into the details of https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/  is not exactly motivating, t

[2016-11-25 22:27] jhumber commented on #4
The new target for adding the .NET Core solution files to the repo is sometime next week. I've run into a few issues and I am still looking into the best way to resolve them.

[2016-12-16 15:39] jayS-de commented on #4
Added a appveyor config with #9

[2017-01-24 10:03] jayS-de opened #11 "Optional parameters in UpdateActions"
The RemoveLineItemAction has an optional parameter quantity. The implementation uses a default value of 0. But this value should not be transported on the API when not set else the line item will not be removed.

I didn't checked for other update actions and optional parameters but most likely this can happen also at other update action models

[2017-01-25 05:12] jhumber commented on #11
The quantity parameter has been removed from the RemoveLineItemAction constructor.  I am working on removing the others.

[2017-01-26 08:59] jayS-de commented on #4
AppVeyor CI: https://ci.appveyor.com/project/commercetools/commercetools-dotnet-sdk
Travis CI: https://travis-ci.org/commercetools/commercetools-dotnet-sdk

[2017-01-26 08:59] #4 closed

[2017-01-26 10:12] nkuehn commented on #4
👍   very nice!

[2017-01-30 16:17] #11 closed

[2017-01-31 15:58] jayS-de commented on #7
Resolved by #15

[2017-01-31 15:58] #7 closed

[2017-01-31 16:37] jayS-de commented on #3
As i created now a build script which uses as base the one from nunit, we should also stick to their versioning scheme.

- Tags are semantic version numbers using: {major}.{minor}.{patch}
- Master is versioned as: {major}.{minor}.{patch}-dev-{build}
- Branches use {major}.{minor}.{patch}-ci-{build}-{branch-name}

All changes to master or tags are pushed automatically to NuGet.

And I started using

[2017-01-31 16:48] nkuehn commented on #3
@jayS-de  can you document the pattern in the README as "How to release"?

[2017-05-23 08:16] houbena opened #18 "MessageQueryResult includes empty Results"
The response to QueryMessagesAsync seems to include the count of the messages but not the messages themselves.

Although response.Result.Count is 20 (as the screenshot shows), Results is empty in the same response.

<img width="995" alt="screen shot 2017-05-23 at 10 13 19 am" src="https://cloud.githubusercontent.com/assets/8375842/26344691/ce781bb6-3fa0-11e7-9c21-9aaacd7dd284.png">

[2017-05-24 11:57] nkuehn commented on #18
@houbena  you should assign or contact someone from Falcon here - they do not get automatic notifications because this repo is in our organization.  E.g. @jhumber

[2017-05-24 14:24] jhumber commented on #18
@nkuehn I do get automatic notifications.

@houbena Thanks for reporting this. I'll be having a look at this issue today.

[2017-05-26 03:02] jhumber commented on #18
@houbena Today's commit to the master branch resolves this issue.

[2017-05-26 03:02] #18 closed

[2017-06-06 14:42] brajivbala opened #20 "Custom Field in the CustomLineItemDraft should not be List<CustomFieldsDraft>"
Hi,

Currently the "Custom" Property in the file [CustomLineItemDraft](https://github.com/commercetools/commercetools-dotnet-sdk/blob/master/commercetools.NET/Carts/CustomLineItemDraft.cs) should not be a list. Instead it should just be a POCO of type "CustomFieldsDraft"

This is based on the documentation as specified in
* https://dev.commercetools.com/http-api-projects-carts.html#cartdraft
* htt

[2017-06-06 17:01] #20 closed

[2017-06-07 09:53] brajivbala opened #22 "Error while creating a cart with CustomLineItems"
While I try to create a cart with the following JSON
[code]
The cart gets created as this is a valid JSON. The response returned by the commercetools is
[code]
While the cart gets created , the sdk throws an exception while trying to parse the JSON returned by the commercetools platform. The exception returned is

**Microsoft.CSharp.RuntimeBinder.RuntimeBinderException: 'Cannot convert null to 'in

[2017-06-07 14:55] #22 closed

[2017-06-07 14:56] jhumber commented on #22
@brajivbala Thank you for adding the new test methods.  Regarding your change to State.cs, rather than defaulting the Version property to 0 when not available, I have changed the data type of the Version property from int to int?.  This keeps the null handling consistent with the rest of the SDK.

[2017-06-07 15:04] brajivbala commented on #22
@jhumber Sounds good to me. Thanks for accepting the PR !

[2017-06-13 09:04] stmeissner opened #24 "support subscriptions endpoint"
the commercetools API provides a [subscriptions endpoint](https://dev.commercetools.com/http-api-projects-subscriptions.html) that I want to use via SDK

[2017-06-16 13:33] brajivbala opened #26 "Support CartDiscount operations via SDK"
* support CartDiscount operations via SDK

[2017-06-20 15:45] brajivbala commented on #26
Closing this issue as the PR was merged.

[2017-06-20 15:45] #26 closed

[2017-06-21 07:49] brajivbala opened #28 "Support DiscountCode Operations via the SDK"
* support DiscountCode Operations via the SDK

[2017-06-21 09:13] nkuehn opened #29 "Document (integration and CI) test procedure and setup in README"
To ease contributor's work it would be nice when the README documented how to run the integration tests are run , how the appveyor and travis setup works with pull requests etc.

[2017-06-22 09:23] nkuehn opened #32 "Do a one-time feature completeness check on Carts and Discount features"
A relevant customer project is starting on this SDK that will use the Discount and Cart related APIs heavily.

To not bring extra risk into their project timeline we would like to do a one-time feature coverage check on the data fields, update actions and API calls.   -> i.e. check the "breadth" of the coverage.

Reference is the API documentation:

https://dev.commercetools.com/http-api-projects-

[2017-06-22 12:27] brajivbala commented on #32
@nkuehn  at the moment we don't plan to use product discounts. But things can change quickly. So It would be relevant to check product discount also.

[2017-06-22 12:27] brajivbala commented on #28
Resolved by  #31

[2017-06-22 12:27] #28 closed

[2017-06-22 14:13] brajivbala opened #33 "SDK to support NET Core"
Currently I see that the the sdk  supports .NET 4.5 and 4.6. At Albelli we try hosting most of our APIs on AWS Lambda. Would it be possible to release a version of the SDK that supports

* .NET Core 1.0.1

[2017-06-22 15:36] jhumber commented on #33
@brajivbala Yes, .NET Core support is tabled for sometime in the near future. I will prioritize this request.

[2017-06-22 15:37] jhumber commented on #32
@nkuehn Sure, I can take care of this review today.

[2017-06-23 04:50] jhumber commented on #32
@nkuehn Carts has been checked and the following issues were resolved:

* commercetools.Carts.Cart class was missing the refusedGifts property.
* commercetools.Carts.CustomLineItemDraft class was missing the externalTaxRate property.
* commercetools.Carts.DiscountedLineItemPriceForQuantity class properties were incorrect.
* commercetools.Carts.LineItemDraft class was missing the externalPrice and

[2017-06-23 10:40] brajivbala commented on #33
@jhumber  i tried  to create  the SDK  as (.NET Standard) Class Library. I found that we need the following nuget packages compatible with .NET Standard 1.3 (with some minor code changes/Especially with regards to how  we use Reflection within the SDK/Log4Net  method signatures)

* log4net (2.0,8)
* NewtonsoftJson (9.0.1)
* Microsoft.Extensions.PlatformAbstractions (1.1.0)
* System.Collections.Spe

[2017-06-23 13:58] nkuehn commented on #33
Thanks for the research!  I suggest the first thing is that we set up the CI environment to build and test the targets we want to support.   They will be "red" first but then we have a clear goal to go after.

The Travis build is already set up with core ( https://travis-ci.org/commercetools/commercetools-dotnet-sdk  //   https://github.com/commercetools/commercetools-dotnet-sdk/blob/master/.travi

[2017-06-23 14:01] nkuehn commented on #33
If that is feasible somehow I would be happy not to drop 4.5  support.

The SDK is also targeted towards older on-premise setups (e.g. CMSes) and even local apps (e.g. the majority of in-store displays and kiosks runs windows 7).

[2017-06-23 14:04] jayS-de commented on #33
I would have to adjust the cake build script. As the build script defines which runtime to use. I just stripped it down to .NET45. So travis is indeed lying about .net core. I think it's really running still against mono.

To actually support more variants we need different project files which define the target runtime.

[2017-06-23 14:29] nkuehn commented on #33
I just pushed this branch:  https://github.com/commercetools/commercetools-dotnet-sdk/tree/ci-dotnetcore-stable

It fixes the bug that travis is actually building on mono (4.5 compatible) and not on dotnet core.  Result is that the respective configuration is red now, which is correct.  The build script would also need to be fixed once the thing compiles on .NET core SDK 1.0.1

[2017-06-23 14:43] nkuehn commented on #33
Apropos: the compatibility discussion already has an own issue here: #8

Actually, I am okay with dropping 4.5 if I get the ecosystem and compatibility tables right.  The 4.5 decision was made nearly a year ago now when it was not yet clear that Windows Phone is finally a dead horse.

So all you .NET know-betters-than-me, here's the key question:  Would a 1.3 profile build be usable for the follow

[2017-06-23 15:20] jhumber commented on #33
@brajivbala I tend to agree with @nkuehn in that it would be nice to keep supporting 4.5, however I don't view that as a dealbreaker if we can't make everything play nicely together as we can still support 4.6 under .NET Standard 1.3.

At this point, you've likely done more research than I have on what a multitargeting approach would look like.  Can you expand a bit on how we would go about settin

[2017-06-23 15:25] jhumber commented on #33
@nkuehn regarding your compatibility questions about those specific platforms and use cases, 4.6/.NET Standard 1.3 would be fine, but you would need later versions of the CMSes you mentioned.

[2017-06-23 15:26] jhumber commented on #33
@brajivbala So to recap: if multitargeting is needlessly complicated, let's drop 4.5 support.  I would just like to get an idea of what we're in for if we do decide to set up multitargeting.

[2017-06-23 15:32] brajivbala commented on #33
I am fine with dropping .NET 4.5 .
@jhumber I am guessing we would need multitargeting only if we need to support .NET 4.5
More info on multitargeting can be found here.
https://docs.microsoft.com/en-us/dotnet/core/tutorials/libraries

If we just  create  the current ClassLibrary(commercetools.NET) as a .Net Standard Library (fixed at 1.3), then my guess is that we do not need multi targeting

[2017-06-23 15:44] jhumber commented on #33
@brajivbala Thanks for the link. I am fine with dropping support for 4.5 and not worrying about multitargeting. Also, regarding this:

If there are no downsides, maybe we should consider using .NET Standard 1.4

[2017-06-23 15:50] brajivbala commented on #33
yes .NET Standard 1.4 is what Microsoft themselves recommend. It also means 4.6 is not supported and only .NET 4.6.1 is. So that is where i am a bit hesitant that someone might want to use the SDK against  .NET 4.6).

[2017-06-23 15:56] nkuehn commented on #33
@brajivbala  what would be typical use case for having 4.6 available but not not 4.6.1 ?

@jhumber  what would "later" versions of the mentioned systems be?
 * Kentico 9+10 say "4.5 or 4.6" (but no mention of 4.6.1).

[2017-06-23 16:00] jhumber commented on #33
@nkuehn Kentico 9 and late rwill support 4.6 and it's point releases (4.6.1, 4.6.2). Sitecore 8.2 and later supports 4.6 and 4.6.1. I have not personally used Umbraco but it appears that 4.6 and point releases are supported as of version 7.4.

[2017-06-23 16:01] nkuehn commented on #33
parallel research :-)

[2017-06-23 16:22] brajivbala commented on #33
@nkuehn  my reservations were driven by
* Just a gut feeling to make sure the sdk is able to support more environments.
* Some of the dependencies we have in the sdk like log4net don't have compatible versions  for w .NET standard1.3 and above.

If we can find a solution to the dependencies/ are ok with dropping 4.6. I say let's go for it :-)

[2017-06-23 16:35] jhumber commented on #33
@brajivbala Aaah, log4net. I'm not sure what to do about that otherwise I'm on board with going right to .NET Standard 1.4.

I will take a look at what can be done about log4net over the weekend but I won't be able to report back until Monday. I'm also open to using other logging libraries if there is a compatible alternative.

[2017-06-23 16:45] brajivbala commented on #33
@jhumber I would suggest first trying it out with .net standard 1.3. If it proves way too painful to make it work, then I would consider 1.4. That way we make sure that dropping support for 4.6 is not for nothing.

PS I know already that it can be done easily with .net standard 1.3  :-) in combination with the nuget packages I have mentioned above.

[2017-06-23 16:46] jhumber commented on #33
@brajivbala Yeah, you're right. Let's move forward with .NET Standard 1.3.

[2017-06-23 16:48] brajivbala commented on #33
One other reasoning to larger the lowest possible .net standard  is that the .net standard is only additive. There is no procedure to remove the API implemented in later version. So later of we choose to upgrade, I am guessing we will be safe.

[2017-06-26 07:56] nkuehn commented on #33
I've asked other clients and partners about their requirements and will keep you informed here.  But it's not likely that it'll deviate from the CMS-centric list I did above (= 1.3).

[2017-07-05 08:41] brajivbala commented on #33
@nkuehn  one more thing i found is that azure functions also support  any netstandard 1.3 assemblies

So 1.3 is good choice for the SDK.

On another note  We have managed to get the SDK (.net standard 1.3) working on AWS lambda at Albelli for now.  I haven't tried Azure functions yet. May be very soon.

@jhumber  any luck  yet converting to .net standard 1.3 ?

[2017-07-05 15:24] brajivbala opened #34 "Discount Information is lost when we parse the response from the CommerceTools Platform"
When a cart discount is applied on a cart, the response does not contain correct information about the discounts applied. This is due to incorrect parsing of data. The code with the issue is  highlighted below.

**Wrong Code**
[code]

**Correct Code**
[code]

[2017-07-06 02:04] #34 closed

[2017-07-06 02:08] jhumber commented on #33
@brajivbala My ability to contribute to this project will be limited for the next couple of weeks and I am currently working on issues #24 and #32.  If you need this addressed sooner, please feel free to make the necessary changes.

[2017-07-07 17:08] brajivbala commented on #33
@jayS-de  in our call today did I understand correctly that you plan to use ( Conditional compilation directives) IFDEF s like the NUnit project and compile the code against various platform ?

While I am not against using IFDEFs, I would consider the implications of using it .
* Personally I think it very painful to maintain.
* They can lead to architectural complexity/technical Debt over a perio

[2017-08-10 14:12] VasumathiJayakumar opened #36 "Support ProductDeleted Messages"
A product is created and then deleted.

When using the QueryMessagesAsync() function i get the ProductCreated Message in the Results. The following Message is a null reference, which should be the ProductDeleted Message.  ProductDeleted Messages are missing in the .NET SDK.

[2018-02-09 16:08] ebonertz opened #43 "Support Product Projections Endpoint"
Should be able to QueryProductProjectionsAsync so that you can utilize the Price Selections features built into the platform including limit, offset, staged, priceCurrency, priceCountry.

[CT Docs about Product Projections ](https://docs.commercetools.com/http-api-projects-productProjections.html#query-productprojections )

[2018-04-17 07:54] jenschude opened #52 "Add Images to Products is not working"
[code]

The reason for this can be identified as the properties for the image are deserialized in a flat manner. But there is no special handler for serializing the Image back to the expected JSON structure of the API. So it's not possible to create products with images as well to set them using the update actions.

[2018-04-17 07:56] jenschude commented on #52
@purquhart could you or someone else fix this please

[2018-04-19 19:47] purquhart commented on #52
Updated in #49

Fixed "Adding images to product draft not working"
- Included update to ShouldCreateAndDeleteProductAsync test, to confirm success of adding images
- Added HashCode helper struct

[2018-04-19 19:50] purquhart commented on #52
Hmm it looks like the branch it was committed to has been deleted. Please let me know if you want me to create a new branch, commit, and re-pull @jenschude

[2018-04-20 14:30] #52 closed

[2018-04-23 08:19] jenschude commented on #33
As the SDK is now using .NET standard 2.0 this issue should be resolved.

[2018-04-23 08:19] #33 closed

[2018-05-07 08:47] damarna85 opened #56 "CustomerGroup support"
Hi,

We are trying to get a customer group by key but we do not find the proper method to do that. Is this included in the SDK?

Thanks!

[2018-06-04 16:49] bjornsallarp opened #57 "HttpClient is created and disposed on every request"
Creating and disposing HttpClient on every request is not recomended. See:
[Improper Instantiation antipattern](https://docs.microsoft.com/en-us/azure/architecture/antipatterns/improper-instantiation/)
[You're Using HttpClient Wrong and it is Destabilizing Your Software](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/)

I suggest that Client instead take a HttpClient constructor arg

[2018-06-05 07:06] sshibani opened #58 "HttpClient disposed"
Is the `Using` statement here necessary?

https://github.com/commercetools/commercetools-dotnet-sdk/blob/master/commercetools.NET/Common/Client.cs#L87

The HttpClient should be a shared object and is thread-safe. for more information please read this blog post:

https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2018-06-05 09:12] JoostBollen commented on #57
This is also causing issues with me. Dropping log4net would be great as we're running API apps. Would be nice if we can find a way to use Application Insights TelemetryClient.

[2018-06-05 10:29] JoostBollen commented on #58
Please keep in mind while solving this, that we need the ability to extend functionality to the Commercetool Client, which will require to have the HttpClient publicly available.

[2018-06-05 11:16] bjornsallarp commented on #58
I filed the exact same issue hours ago #57 . Close this issue and continue discussions there?

[2018-06-05 11:34] bjornsallarp commented on #57
I haven't used Application Insights to confirm/test this myself but I believe that with aspnet core HttpClient will automatically log to Application Insights without adding custom delegate handlers. Look at David Fowlers response in this issue for more details: https://github.com/aspnet/Hosting/issues/1164#issuecomment-322027443

Here's documentation about correlation ids that tie into Application

[2018-06-15 15:55] jenschude commented on #57
Fixed with #60

[2018-06-15 15:55] #57 closed

[2018-06-15 15:55] jenschude commented on #58
Fixed with #62

[2018-06-15 15:55] #58 closed

[2018-06-18 11:59] JoostBollen commented on #56
@sshibani any chance of getting this implemented? Otherwise we can just build this on an implementation of IClient when it's released.

[2018-06-18 12:29] sshibani commented on #56
@JoostBollen Yes, please use the IClient and implement the missing method for now.

[2018-08-09 13:30] sshibani opened #65 "Introduce gitflow branching mechanism"
- Create a feature/2.0 branch from the master
- Delete all files from feature/2 branch
- create feature branches from feature2.0

During the development of v2.0 all feature branches need to be merged into feature/2 by PR

[2018-08-09 13:34] sshibani opened #66 "Configure CI Tool on AppVeyor"
The build process should:

- Build
- Test (Unit / Integration)
- Package

[2018-08-09 13:35] sshibani opened #67 "Configure CI tools on Travis"
Build process should:

- Build
- Test (Unit / integration)
- package

[2018-08-09 13:48] sshibani opened #68 "Implement scalable foundation"
Design a scalable foundation layer

- Wrap HTTPClient
- Factory classes for different endpoint to create a HTTPRequestMethod

[2018-08-09 13:49] sshibani opened #69 "authentication middleware"
Based on OWIN,

implement 2 flows:

- Password flow
- standard token flow

[2018-08-13 12:13] sshibani opened #70 "Add DelegatingHandler for validations"
- Authentication header is always available before the actual request

[2018-08-13 12:15] sshibani opened #71 "Add DelegatingHandler - CorrelationId header"
Add a X-Correlation-ID header to every request message.

[2018-08-13 13:39] sshibani opened #72 "Logging"
Add logging middleware for the HttpClient

[2018-08-23 08:19] btastic opened #73 "SetAttributeAction does not default to staged"
In SetAttributeAction.cs the line 43 (master branch) states that the property defaults to true.

However, when not setting this value, it will default to false due to serialization and the fact that the default value of a bool is false.

[code]

This would fix it. I might do a PR later.

[2018-08-23 08:22] btastic opened #74 "Setting a localized string is not possible in SetAttributeAction"
Since the Value of `SetAttributeAction` requires a FieldType, we seem to not be able to set the LocalizedString array to it.

Maybe we are doing something wrong but setting the type for value to dynamic _can_ fix it. It is **not** a good solution since providing `dynamic` properties to top level API's can easily lead to mistakes that developers will make.

I am working with a local master branch r

[2018-08-23 19:28] btastic opened #75 "How to write tests for customer with IClient"
Hello,

another thing I found was that there is no way to create a `Customer` by myself. I'd have to fill the constructor with a fake `dynamic` object since all the properties are locked via `private set`.

While I see that the `Customer` is usually never created via code side, rather created via `CustomerDraft` and a quick `CreateCustomerAsync` which takes the `CustomerDraft`, I can not use it in

[2018-09-25 12:02] btastic opened #76 "Missing tiers in ShippingRate.cs"
When using tiers within shipping rates, the .NET SDK does not reflect the model properly.

It is missing the "tiers" property within the shipping rates.

[2018-10-02 11:41] damarna85 commented on #75
You can use libraries like [Moq](https://github.com/moq/moq4) to mock any of the commercetools SDK methods. This way you can just mock the response and test your code accordingly without calling the commercetools platform.

[2018-10-04 17:10] btastic commented on #73
Fixed via #77

[2018-10-04 17:10] #73 closed

[2018-10-11 10:58] btastic commented on #76
@jenschude when will a new nuget package be released?

[2018-10-11 11:20] jenschude commented on #76
Already done

[2018-11-30 12:09] Marvin-Brouwer opened #83 "DiscountCodeState enum incomplete"
This is the current state of the DiscountCodeState enum (decompiled source):
[code]

There are four options:

- NotActive
- DoesNotMatchCart
- MatchesCart
- MaxApplicationReached

However if I read [the documentation](https://docs.commercetools.com/http-api-projects-carts#discountcodestate) I see 6:

- NotActive
- NotValid
- DoesNotMatchCart
- MatchesCart
- MaxApplicationReached
- ApplicationStopp

[2018-12-13 10:33] enggaardt opened #86 "ProductVariantAvailability properties are always NULL"
It looks like the ProductVariantAvailability object on a ProductVariant does not get initialized properly.

In the raw JSON data the availability data is an array of availability for each channel.

However the ProductVariantAvailability class is only a single object that is passed that a array in the constructor.

Which then fails to populate the 3 availability properties because the dynamic data

[2018-12-13 11:36] enggaardt commented on #86
...or rather the availability data is a dictionary with the channel IDs as the keys.

[2018-12-18 10:02] katstojanovski commented on #72
Logging is added for every request and response in a delegating handler. The content of request and response bodies is not done since once a stream is read is can't be read again without rewinding or other hacks.
http://www.palador.com/2017/05/24/logging-the-body-of-http-request-and-response-in-asp-net-core/

[2018-12-18 10:02] #72 closed

[2018-12-18 10:03] katstojanovski commented on #71
Correlation ID is added in a delegating handler. The ID is retrieved from a provider interface and the default implementation is provided.

[2018-12-18 10:03] #71 closed

[2018-12-18 10:04] katstojanovski commented on #70
Delegating handler that adds the token is implemented.

[2018-12-18 10:04] #70 closed

[2018-12-18 10:06] katstojanovski commented on #69
Implemented three flows: client credentials, password and anonymous and refreshing of the token.

[2018-12-18 10:06] #69 closed

[2018-12-18 10:07] katstojanovski commented on #68
Implemented client which is the only place where http requests are made. Implemented multiple request builders for different types of commands.

[2018-12-18 10:07] #68 closed

[2018-12-18 10:08] katstojanovski opened #87 "Documentation"
Add documentation XML to classes.

[2018-12-18 10:10] katstojanovski opened #88 "Remaining domain classes"
Add the remaining domain classes.
This might include the addition of new commands that are needed for the remaining domain classes.

[2019-01-24 14:09] btastic commented on #74
Closed via https://github.com/commercetools/commercetools-dotnet-sdk/pull/89.

[2019-01-24 14:09] #74 closed

[2019-02-06 16:03] skyriakou opened #92 "Support high precision prices"
**Support reference number**
https://jira.commercetools.com/browse/SUPPORT-4239

**Is your feature request related to a problem? Please describe.**
In the "Price" class CommerceTools SDK has a property named "value". This property is of "Money" type. In the Money class, "fractionDigits" property is missing.
When I am using Impex, I am getting the mentioned missing property but in SDK it is missing

[2019-03-29 12:30] #92 closed

[2019-03-29 12:31] #88 closed

[2019-03-29 12:31] #87 closed

[2019-03-29 12:32] #67 closed

[2019-03-29 12:32] #66 closed

[2019-03-29 12:32] #65 closed

[2019-03-29 12:32] #83 closed

[2019-03-29 12:33] #36 closed

[2019-03-29 12:34] #43 closed

[2019-03-29 12:34] #24 closed

[2019-03-29 12:36] #8 closed

[2019-07-30 10:48] HenryKeen opened #95 "Multiple Scopes in Client Configuration"
Hi

I'm not sure if I'm missing something but it looks like its only possible to specify a single scope in the `Configuration` object. I have a requirement to get products and manage orders in the same project and would prefer to not have to make multiple clients.

Is there something I'm missing?

Thanks,
Henry

[2019-09-12 12:06] daschy opened #98 "Missing Key field in ShippingMethod and ShippingMethodDraft"
.NET `ShippingMethod` and `ShippingMethodDraft` does not reflect the spec.

https://docs.commercetools.com/http-api-projects-shippingMethods#shippingmethod

The `key` field is missing in the Class specifications

[2019-09-12 13:39] #98 closed, assigned to nobody

[2019-09-23 10:57] zackpollard opened #100 "Missing Key field in Address"
.NET `Address` does not reflect the spec.

https://docs.commercetools.com/http-api-types.html#address

The `key` field is missing in the Class specification

[2019-09-23 12:58] jenschude commented on #100
The field has been added and released with https://www.nuget.org/packages/commercetools.NET.SDK/1.1.0.629-dev

[2019-09-23 12:58] #100 closed

[2019-09-23 13:05] zackpollard commented on #100
Excellent, thanks for the quick response! :)

[2019-09-24 07:14] jenschude commented on #95
I just merged a fix for this issue. Please see https://github.com/commercetools/commercetools-dotnet-sdk/blob/master/commercetools.NET.Tests/ProjectScopeTest.cs for details how to define multiple scopes

[2019-09-24 07:14] #95 closed

[2019-09-24 07:18] jenschude commented on #86
I just merged the feature to deserialize the availability per channel:

https://github.com/commercetools/commercetools-dotnet-sdk/blob/170d86771d94f8443efd605dd1cebcd1424eab4b/commercetools.NET.Tests/ProductProjectionManagerTest.cs#L146

[2019-09-24 07:18] #86 closed

[2019-09-25 13:47] alemhnan opened #103 "Missing isMatching field in ShippingRate"
.NET ShippingRate does not reflect the spec.

https://docs.commercetools.com/http-api-projects-shippingMethods#shippingrate

The key isMatching is missing in the Class specifications

[2019-10-02 14:27] alemhnan commented on #103
@jenschude have you had the chance to take a look at this?

I've tried to open a PR but I can't get to make the tests run locally, I'm not sure which are the correct credentials for the API (I've tried to give full access but I still get auth errors)

[2019-10-07 14:24] #103 closed

[2019-10-07 14:27] alemhnan commented on #103
Thanks a lot! @jenschude

[2019-10-07 14:37] jenschude commented on #103
Pushed to nuget as 1.1.0.636-dev

[2019-10-17 09:17] Max-John opened #105 "No 'Key' field on Customer or CustomerDraft"
.NET Customer and CustomerDraft does not reflect the spec.

https://docs.commercetools.com/http-api-projects-customers#customerdraft
https://docs.commercetools.com/http-api-projects-customers#customer

The key field is missing in the Class specification for each

[2019-10-24 13:11] jenschude commented on #105
The key field has been added and released on NuGet as version 1.1.0.642-dev

[2019-10-24 13:11] #105 closed

[2020-01-24 12:17] #56 closed

[2020-02-05 07:45] nkuehn opened #112 "Remove legacy hostnames"
### Description

To improve the developer experience and easen our support and training burden all existing references to  `*.sphere.io` and `.commercetools.co`  host names should be removed in favor of not defaulting to a specific region (a common complaint of US and AWS customers is that EU is defaulted everywhere) or, if needed for backwards compatibility, be replaced with the new `*.europe-wes

[2020-02-21 13:33] #112 closed

[2020-02-21 13:34] #32 closed

[2020-02-21 13:34] #29 closed

[2020-02-21 13:35] #3 closed

[2020-04-09 07:50] mancharnpreets opened #114 "Discount Code Info - State is always returned as null"
In Cart --> Discount Codes --> Discount Code Info --> Discount code state is not mapped correctly and always returned as null.

[2020-04-15 09:08] #114 closed

[2020-07-27 07:39] andersekdahl opened #116 "Custom fields on categories?"
Hi!
We're forced to use this SDK instead of the .NET Core one in one integration where .NET Core isn't supported. And I just noticed that https://github.com/commercetools/commercetools-dotnet-sdk/blob/master/commercetools.NET/Categories/Category.cs is missing a `Custom` property for custom fields. Will this be fixed?

Thanks!

[2020-07-27 08:09] #116 closed

[2020-07-29 08:01] jenschude commented on #116
Btw the Core SDK targets only netstandard 2.0 which means that it should be possible using it with .NET Framework >= 4.6.1. I just created a small example to the Core SDK.

https://github.com/commercetools/commercetools-dotnet-core-sdk/pull/137

[2020-07-31 13:24] andersekdahl commented on #116
Ah, just assumed that it was Core only, I'll try using that! Thanks!

[2020-08-13 02:59] glennsdavis opened #120 "Issue getting customer by email"
I am attempting to get a customer by email address from commercetools using a Query Predicate. The search is case-sensitive. For example if CT contains "Bob@gmail.com" and I pass "bob@gmail.com" then I do not get a result. How do I make the search case-insensitive? See example below. Thank you.

QueryCommand<Customer> command = new QueryCommand<Customer>();
QueryPredicate<Customer> predicate = new